<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header"></header>
<section th:replace="layout :: banner"></section>
<section id="courseArchive">
    <div class="container">
        <div class="row">
            <!-- start course content -->
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="courseArchive_content">
                    <!-- start blog archive  -->
                    <div class="row">
                        <h2 class="blog_title2" style="margin-top: 50px;
                            margin-bottom: 50px;">Edit Chapter:</h2>
                        <!-- start single blog -->
                        <div class="col-lg-12 col-12 col-sm-12">
                            <div class="single_blog">
                                <form th:action="@{|/chapters/${chapter.id}/edit-chapter|}" method="post" th:object="${chapter}" enctype="multipart/form-data" class="submitphoto_form" >
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="text" class="wp-form-control wpcf7-text" th:field="*{title}" placeholder="Title"/>
                                    <textarea class="wp-form-control wpcf7-textarea" th:field="*{content}" cols="30" rows="10" placeholder="Content"></textarea>
                                    <label>Chapter image: </label><br/>
                                    <input type="file" name="file"/><br/><br/>

                                    <label>Available courses</label><br/>
                                    <ul>
                                        <li th:each="course : ${courses}">
                                            <!--<input type="checkbox" th:field="*{courses}" th:value="${course.id}"/>-->
                                            <input type="radio" th:field="*{course}" th:value="${course.id}"/>
                                            <span th:text="${course.name}"></span>
                                        </li>
                                    </ul><br/>
                                    <!--<input type="mail" class="wp-form-control wpcf7-email" placeholder="Email address"/>-->
                                    <input type="submit" value="Submit" class="wpcf7-submit"/>
                                </form>
                            </div>
                        </div>
                        <!-- End single blog -->
                    </div>

                    <!-- end blog archive  -->
                </div>
            </div>
            <!-- End course content -->
        </div>
    </div>
    <!-- start course archive sidebar -->
</section>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: javascript-files"></div>
</body>
</html>

