<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
<header th:replace="layout :: header"></header>
<!--<section th:replace="layout :: banner"></section>-->
<!--=========== BEGIN COURSE BANNER SECTION ================-->
<section id="courseArchive">
    <div class="container">
        <div class="row">
            <!-- start course content -->
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="courseArchive_content">
                    <!-- start blog archive  -->
                    <div class="row">
                        <!-- start single blog -->
                        <div class="col-lg-12 col-12 col-sm-12">
                            <div class="single_blog">
                                <div class="blogimg_container">
                                    <img alt="img" th:src="@{|/courses/${course.id}.png|}" class="blog_img"/>
                                </div>
                                <h2 class="blog_title" th:text="${course.name}">Curabitur ac dictum nisl eu hendrerit ante</h2>
                                <div class="blog_commentbox">
                                    <strong>Created by: </strong><a th:text="|${teacher.firstName} ${teacher.lastName}|" th:href="@{|/users/${teacher.id}/detail|}"></a><br/><br/>
                                </div>
                                <strong>Difficulty: </strong><span th:text="${course.difficulty}"></span><br/>
                                <strong>Subject: </strong><span th:text="${subject.name}" th:if="${subject != null}"></span>
                                <p th:text="${course.description}" style="word-wrap:break-word;"></p><br/>
                                <a th:href="@{|/courses/${course.id}/course-edit-form|}" class="wpcf7-submit" sec:authorize="hasRole('ROLE_ADMIN')">Edit Course</a>
                                <a th:href="@{|/evaluations/${evaluationId}/evaluation-page|}" class="wpcf7-submit">Take Course Evaluation</a>
                                <a th:href="@{|/evaluations/${evaluationId}/evaluation-result-page|}" class="wpcf7-submit" sec:authorize="hasRole('ROLE_USER')">View Evaluation Results</a><br/><br/><br/>
                                <a th:href="@{|/questions/${evaluationId}/question-form|}" class="wpcf7-submit" sec:authorize="hasRole('ROLE_ADMIN')">Create Question</a><br/><br/>
                                <form th:action="@{|/courses/${course.id}/delete-course|}" method="post" sec:authorize="hasRole('ROLE_ADMIN')">
                                    <input type="submit" value="Delete Course" class="wpcf7-submit"/>
                                </form><br/><br/>

                            </div>
                        </div>
                        <!-- End single blog -->
                    </div>

                    <div class="row">
                        <h2 class="blog_title2" style="margin-top: 50px;
                            margin-bottom: 50px;">Chapters:</h2>
                        <!-- start single course -->
                        <div class="col-lg-4 col-md-4 col-sm-4" th:each="chapter : ${chapters}">
                            <div class="single_course wow fadeInUp">
                                <div class="singCourse_imgarea">
                                    <img th:src="@{|/chapters/${chapter.id}.png|}" width="500" height="150"/>
                                    <div class="mask">
                                        <a th:href="@{|/chapters/${chapter.id}/detail|}" class="course_more">View Chapter</a>
                                    </div>
                                </div>
                                <div class="singCourse_content">
                                    <h3 class="singCourse_title"><a th:href="@{|/chapters/${chapter.id}/detail|}" th:text="${chapter.title}">Introduction To Matrix</a></h3>
                                    <p th:text="${chapter.content}" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                </div>
                                <div class="blog_commentbox">
                                    <a th:text="|${teacher.firstName} ${teacher.lastName}|" th:href="@{|/users/${teacher.id}/detail|}"></a><br/><br/>
                                </div>
                            </div>
                        </div>
                        <!-- End single course -->
                    </div>

                    <div class="row">
                        <h2 class="blog_title2" style="margin-top: 50px;
                            margin-bottom: 50px;">Achievement:</h2>
                        <!-- start single course -->
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="single_course wow fadeInUp">
                                <div class="singCourse_imgarea">
                                    <img th:src="@{|/achievements/${achievement.id}.png|}" width="500" height="150"/>
                                    <div class="mask">
                                        <a th:href="@{|/achievements/${achievement.id}/detail|}" class="course_more">View Achievement</a>
                                    </div>
                                </div>
                                <div class="singCourse_content">
                                    <h3 class="singCourse_title"><a th:href="@{|/achievements/${achievement.id}/detail|}" th:text="${achievement.name}">Introduction To Matrix</a></h3>
                                    <p th:text="${achievement.description}" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                                </div>
                                <div class="singCourse_author">
                                    <p th:text="|${achievement.teacher.firstName} ${achievement.teacher.lastName}|">Richard Remus, Teacher</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single course -->
                    </div>
                    <!-- end blog archive  -->
                </div>
            </div>
            <!-- End course content -->
        </div>
    </div>
    <!-- start course archive sidebar -->
</section>
<!--=========== END COURSE BANNER SECTION ================-->

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: javascript-files"></div>
</body>
</html>